@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "color.scss";
@import "null.scss";

%button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    line-height: 150%;
    margin: 10px 0;
    transition: all 0.3s ease 0s;
}

@mixin button-border($color, $border) {
    color: $color;
    border: $border solid $color;
    &:hover {
        background-color: $color;
        color: #fff;
    }
}

/*------------------------------------------------------*/
body {
    height: 100%;
    line-height: 1;
    background: $background-color-1;
    font-size: 14px;
    color: $text-color-1;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*-------------Technical classes---------------------*/
._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
    & img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

/*-------------Header---------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__button_logout {
    padding: 0px 15px;
    @extend %button;
    @include button-border(#ff0000, 1px);
}

@media (max-width: 460px) {
    .header__title {
        font-size: 18px;
        font-weight: 700;
        color: inherit;
    }
    .header__button_logout {
        padding: 5px 16px;
    }
}
/*-------------Main page---------------------*/

.page {
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 500px;
    & > *:not(:last-child) {
        margin: 0px 0px 35px 0px;
    }
}
.main-block__info {
    font-size: 24px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
    @media (max-width: 460px) {
        & {
            font-size: 18px;
        }
    }
}

.info-balance {
    margin-top: 15px;
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    @extend %button;
    padding: 5px 36px;
    @media (max-width: 479px) {
        & {
            flex: 1 1 100%;
        }
    }
    @media (min-width: 479px) {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
.main-block__button_orange {
    background: #ff7b47;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #ff7b47;
    }
}
.main-block__button_border {
    @include button-border(#0d5c63, 1px);
}
/*-------------Cover photo---------------------*/
.background {
    position: fixed;
    bottom: -60%;
    left: -50%;
    width: 200%;
    height: 200%;
    @media (max-width: 1200px) {
        & img {
            left: -20%;
        }
    }
    @media (max-width: 836px) {
        & img {
            left: -60%;
        }
    }
    @media (max-width: 836px) {
        & img {
            left: -60%;
        }
    }
    @media (max-width: 574px) {
        & img {
            left: -100%;
        }
    }
    @media (max-width: 442px) {
        & img {
            left: -140%;
        }
    }
}
img {
    object-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

/*-------------Footer---------------------*/

.footer {
    position: relative;
    text-align: center;
    z-index: 100;
    padding: 25px 0;
}
.footer__container {
    display: inline-flex;
    align-items: center;
}
.footer__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.footer__button {
    @extend %button;
    padding: 0px 15px;
    @media (max-width: 479px) {
        & {
            flex: 1 1 100%;
        }
    }
    @media (min-width: 479px) {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
.footer__button_edit {
    @include button-border(#000000, 1px);
}
.footer__button_delete {
    @include button-border(#ff0000, 1px);
}
