$text-color-1: #252b42;
$text-color-2: #737373;
$text-color-3: #fff;
$subtitle-color: #000000;
$background-color-1: #edf1ef;
$background-color-2: #fff;
$background-color-3: #0d5c63;
$signup-button-color: #ff7b47;
$login-button-color: #0d5c63;
